.container{
    background-color: #b0d9b1;
    display: flex;
    width: 15vw;
    height: fit-content;
    border-radius: 4vw;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}
.container p{
    margin: 1vw 0;
    padding: 0;
    font-size: 1.3vw;
    color: #232323;
    font-style: italic;
}
.hover{
    background-color: #d3d3d3;
    cursor: pointer;
}