.block{
    height: fit-content;
    background-color: #618264;
    display: flex;
    padding: 30px 0;
    padding-left: 4vw;
    justify-content: space-between;
    border: 2px solid black;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;

}
.headings h2{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 4.7vw;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;
}

.image{
    width: 28vw;
    height: 28vw;
    border-radius: 15vw 1.8vw 0 3vw;
}